section {
    display: flex;
}

section .weather {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    flex: 1;
    padding: 10px;
    text-align: center;
}

.weather h2 {
    order: -1;
}

.weather span {
    font-weight: bold;
}